<form method="POST" class="max-w-md mx-auto" action="{{#if editing}}/edit-course{{else}}/add-course{{/if}}">
    <div class="relative z-0 w-full mb-5 group">
        <input name="name" value="{{#if editing}}{{course.name}}{{/if}}"
            class="form peer"
            placeholder="" required />
        <label
            class="form-click">Course Name</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input name="prof" value="{{#if editing}}{{course.prof}}{{/if}}"
            class="form peer"
            placeholder="" required />
        <label
            class="form-click">Professor</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input name="duration" value="{{#if editing}}{{course.duration}}{{/if}}"
            class="form peer"
            placeholder="" required />
        <label
            class="form-click">Duration</label>
    </div>
    <div class="relative z-0 w-full mb-5 group">
        <input name="credits" value="{{#if editing}}{{course.credits}}{{/if}}"
            class="form peer"
            placeholder="" required />
        <label
            class="form-click">Credits</label>
    </div>
    {{#if editing}}<input type="hidden" value="{{course.id}}" name="courseId">{{/if}}
    <button type="submit" class="btn">Submit</button>
</form>