<h1>{{pageTitle}}</h1>
<form method="POST" enctype="multipart/form-data" action="{{#if editing}}/edit-lecture{{else}}/add-lecture{{/if}}">

    <div class="col">
        <div class="item">
            <label>Name</label>
            <input name="name" value="{{#if editing}}{{lecture.name}}{{/if}}">
        </div>
        <div class="item">
            <label>Date</label>
            <input name="date" value="{{#if editing}}{{lecture.date}}{{/if}}">
        </div>
    </div>
    {{#if editing}}
    <input type="hidden" value="{{lecture.id}}" name="lectureId">
    <input type="hidden" value="{{lecture.courseId}}" name="courseId">
    {{else}}
    <input type="hidden" value="{{courseId}}" name="courseId">
    {{/if}}
    <span>Upload Lecture:</span>
    <input type="file" name="lecture" required /> <br>
    <button type="submit">Submit</button>
</form>