<div class="card-container">

    {{#each courses}}
    <div class="card">
        <a href="#">
            <h5 class="mb-2 text-2xl font-bold tracking-tight text-gray-900 dark:text-white">{{name}}</h5>
        </a>
        <p>Professor: {{prof}}</p>
        <p>Duration: {{duration}}</p>
        <p>Credits: {{credits}}</p>
        <div class="flex mt-3">
            <form action="/delete-course" method="POST">
                <input type="hidden" value="{{id}}" name="id">
                <button class="btn">
                    Delete
                </button>
            </form>
            <a class="btn" href="/edit-course/{{id}}?edit=true">Edit</a>
            <a class="btn" href="/lectures/{{id}}" value="{{id}}" name="id">View Lectures</a>
        </div>
    </div>
    {{/each}}
</div>